instructions.*
.DS_Store
.vscode
.cache
build/

MagicKnob/build/
MagicKnob/.vscode/
MagicKnob/__pycache/
MagicKnob/python/__pycache__
MagicKnob/python/runs
MagicKnob/runs/
MagicKnob/CMakeLists.txt
MagicKnob/.tmp.drivedownload
MagicKnob/.tmp.driveupload