audio_conv1d_rev/*.wav
!audio_conv1d_rev/*_BEST.wav
audio_conv1d_dist/*.wav
!audio_conv1d_dist/*_BEST.wav
audio_cond1d_dist/*.wav
!audio_cond1d_dist/*_BEST.wav
audio_conv2d_rev/*.wav
!audio_conv2d_rev/*_BEST.wav
audio_conv1d_phaser/*.wav
!audio_conv1d_phaser/*_BEST.wav
audio_conv2d_phaser/*.wav
!audio_conv2d_phaser/*_BEST.wav
audio_conv1d_dist_par/*.wav
!audio_conv1d_dist_par/*_BEST.wav
audio_lstm_lpf/*.wav
!audio_lstm_lpf/*_BEST.wav
audio_lstm_lpf_par/*.wav
!audio_lstm_lpf_par/*_BEST*.wav
audio_logic_dist/*.wav
!audio_logic_dist/*_BEST.wav
audio_lstm_delay/*.wav
!audio_lstm_delay/*_BEST*.wav
audio_ht1/*.wav
!audio_ht1/*_BEST*.wav
audio_lstm_phaser/*.wav
!audio_lstm_phaser/*_BEST*.wav
audio_lstm_lpf2_par/**/*.wav
!audio_lstm_lpf2_par/**/*_BEST*.wav
!audio_lstm_lpf2_par/output*/*.wav
audio_logic_dist_par/**/*.wav
!audio_logic_dist_par/**/*_BEST*.wav
!audio_logic_dist_par/output*/*.wav
audio_conv1d_dist_par/**/*.wav
!audio_conv1d_dist_par/**/*_BEST*.wav
!audio_conv1d_dist_par/output*/*.wav
audio_conv1d_lpf2_par/**/*.wav
!audio_conv1d_lpf2_par/**/*_BEST*.wav
!audio_conv1d_lpf2_par/output*/*.wav